# Core functionality - changes here should be rare!
/src/app.py                   @DpkTewatia
/src/backend/database.py      @DpkTewatia
/src/backend/routers/auth.py  @DpkTewatia

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DpkTewatia
